---
export interface Props {
	title?: string;
}
const { title } = Astro.props;
---

<div class="p-8 space-y-4 bg-gradient-to-br from-slate-800 to-slate-900 rounded-lg border border-slate-700">
	{title && <h2 class="text-xl m-0 font-bold">{title}</h2>}
	<div class="text-sm leading-relaxed">
		<slot />
	</div>
</div>
